!!!5
html
  head
    title #{title}
    include styleguide.css
  body
    .container
      time.generated Generated at #{Date()}
      h1 #{title}
      nav.nav
        ul
          for section in sections
            li: a(href="##{section.slug}")= section.title

      for section in sections
        .section(id=section.slug)
          h2= section.title
          for guide in section.guides
            .guide
              h3= guide.title
                a.toggle(href="#") Toggle source

              if guide.description
                .description
                  !{marked(guide.description)}

              if guide.example
                .preview
                  iframe(scrolling="no")
                .source.hidden= guide.example.trim()

      textarea.source_css= source_css
      textarea.source_js= source_js

    include styleguide.coffee
