doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Styleguide

    style
      |!{ templateCss }
  body
    .container
      h1.title-large Styleguide
      time.generated Generated at #{Date()}

      hr.small

      nav.nav
        ul
          for elements, section in docs
            li
              a(href="##{section.replace(/[^a-z0-9]/ig,'')}") #{section}


      for elements, section in docs
        .section(id=section.replace(/[^a-z0-9]/ig,''))
          h2.title-medium= section
          for element, i in elements
            if element.visible != 'false'
              .guide
                h3.title-small= element.title
                  a.toggle(href="javascript:void(null)") Toggle source

                if element.description
                  .description !{marked(element.description)}

                if element.example
                  .preview
                    iframe(scrolling="no")

                  .source.hidden
                    if Array.isArray(element.example)
                      | !{element.example.join(' ').trim()}
                    else
                      | !{element.example.trim()}

          hr.small

      nav.index
        ul
          for elements, section in docs
            li
              a(href="##{section.replace(/[^a-z0-9]/ig,'')}") #{section}
              ul
                for element, i in elements
                  if element.visible != 'false'
                    li #{element.title}

      textarea.sourceCss= css
      textarea.sourceJs= js

    script
      |!{ templateJs }
